[submodule "custom-generator-sql"]
	path = custom-generator-sql
	url = https://github.com/annaellebgt/custom-generator-sql.git
[submodule "cfg2pc"]
	path = cfg2pc
	url = https://github.com/jjcmoon/cfg2pc.git
[submodule "GrammarRefactoring"]
	path = GrammarRefactoring
	url = https://github.com/annaellebgt/GrammarRefactoring.git
[submodule "grammarinator-fuzzing"]
	path = grammarinator-fuzzing
	url = git@github.com:annaellebgt/grammarinator-fuzzing.git
